@import "tailwindcss";

@theme {
  --color-brand-green: #00a651;
  --color-brand-green-dark: #008f45;
  --color-brand-green-light: #e6f6ed;
  --color-brand-blue: #00aeef;
  --color-brand-blue-dark: #0087b7;
  /* --color-brand-green: #38BDF8;
  --color-brand-green-dark: #0EA5E9;
  --color-brand-green-light: #F0F9FF;
  --color-brand-blue: #7DD3FC;
  --color-brand-blue-dark: #38BDF8; */
  --color-brand-bg: #f8fafc;
  --color-brand-surface: #ffffff;
  --color-brand-footer: #0f1716;
  --color-brand-overlay: rgba(15, 23, 42, 0.5);
  --color-brand-text: #0f172a;
  --color-brand-text-muted: #64748b;
  --color-brand-border: #e2e8f0;
  --color-brand-red: #ef4444;

  --font-header: "Plus Jakarta Sans", sans-serif;
  --font-primary: "DM Sans", sans-serif;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}